button {
  background-color: #63a7b3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #507d82;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-group {
    display: flex;
    gap: 10px; 
    margin-top: 10px;
}